<extend name="Public/layout" />
<block name="content">
    <div class="page-content">
        <h1>添加设备</h1>
        <div class="switch-left-col">
            <h2>切换添加方式</h2>
            <ul>
                <li class="active"><a href="#">批量添加</a></li>
                <li><a href="#">单个添加</a></li>
            </ul>
        </div>
        <div class="switch-right-col">
            <div class="batch-import switch-item active">
                <h2>批量添加</h2>
                <div class="import-message"></div>
                <php>
                    if(session('group') == 1){
                        $_url = "/devices/import";
                    }else{
                        $_url = "/adevices/import";
                    }
                </php>
                <form action="<{$_url}>" class="dropzone">
                </form>
            </div>
            <div class="new-device switch-item">
                <h2>单个添加</h2>
                <div class="new-message"></div>
                <form action="" method="post" role="form" data-toggle="validator">
                    <div class="form-holder">
                        <div class="entry form-group">
                            <label for="title">标题</label>
                            <input type="text" name="title" id="title" placeholder="" />
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="entry form-group">
                            <label for="uuid">设备序列号(uuid)</label>
                            <!--^[0-9a-zA-Z\s]{6,16}$-->
                            <input type="text" name="uuid" id="uuid" placeholder="" pattern="^[a-zA-Z0-9]{32,32}$" required data-error="设备序列号必须为32位" />
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="entry form-group">
                            <label for="thumbnail">图片地址</label>
                            <input type="text" name="thumbnail" id="thumbnail" placeholder="http://..." required pattern="[a-zA-z]+://[^\s]*" data-error="缩略图不能为空" />
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="entry form-group">
                            <label for="description">设备描述</label>
                            <textarea name="description" id="description"></textarea>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="btn-set btn-right">
                        <a href="#" class="btn btn-add">保存</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</block>