<extend name="Public/layout" />
<block name="content">
    <div class="page-content">
        <h1>Devices</h1>
        <div class="add-new-device"><a class="btn btn-add" href="#">Add Device</a></div>
        <table class="grid-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>UUID</th>
                    <th>Title</th>
                    <th>Thumbnail</th>
                    <th>Lock User</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>6</td>
                    <td>Test</td>
                    <td>123456@qq.com</td>
                    <td>weixin</td>
                    <td>Ios</td>
                    <td><a href="#">Edit</a></td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Test</td>
                    <td>weixin</td>
                    <td>app</td>
                    <td>Android</td>
                    <td><a href="#">Edit</a></td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Test</td>
                    <td>123456@qq.com</td>
                    <td>app</td>
                    <td>Ios</td>
                    <td><a href="#">Edit</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</block>